<ul>
      <li>
        <a href = "{{ '/' | relative_url }}">
          Home
        </a>
      </li>
      <li>
        <a href = "{{ 'about/' | relative_url }}">
          About
        </a>
      </li>
      <li>
        <a href = "{{ 'project/' | relative_url }}">
          Projects
        </a>
      </li>
      <li>
        <a href = "{{ site.resume_url | relative_url }}">
          Resume
        </a>
      </li>
      <li>
        <a href = "{{ site.card_url | relative_url }}">
          Business Card
        </a>
      </li>
</ul>